.todoList {
  width: 500px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 10px;
  background-color: #eee;
  outline: none;
}

.dueDateInput {
  width: 20%;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px;
  background-color: #eee;
  margin-left: 3px;
  color: #808080;
}

.inputField {
  display: flex;
  gap: min(8px, 1vw);
  justify-content: center;
  align-items: center;
  padding: 0 min(20px, 2.5vw);
  width: min(800px, 95vw);
  margin: 0 auto;
  transition: all 0.3s ease;
  position: relative;
}

.addButtonWrapper {
  width: min(50px, 6vw);
  transition: all 0.3s ease;
}

/* -----mobile layout------ */
@media (max-width: 768px) {
  .inputField {
    flex-direction: column;
    gap: 8px;
    padding: 0;
    margin: 0 min(20px, 2.5vw);
    width: auto;
  }

  .addButtonWrapper {
    width: 35px;
    position: absolute;
    right: -35px;
    top: 0;
    height: calc(100% - 8px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .inputField > input {
    width: 100%;
    box-sizing: border-box;
    padding-right: 8px;
  }
}

@media (max-width: 400px) {
  .inputField {
    margin: 0 min(20px, 2.5vw);
  }
}
