#todoList button {
  width: 15px;
  height: 15px;
  background-color: #808080;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#todoList li.complete button::after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  transform: translate(-2px, -2px) rotate(45deg);
  border-right: 2px solid #f1b116;
  border-bottom: 2px solid #f1b116;
}
