.button {
  position: relative;
  width: auto;
  height: 35px;
  border: none;
  background-color: #242423;
  cursor: pointer;
  vertical-align: middle;
  color: #808080;
  transition: color 0.3s;
}

.button span {
  display: block;
  width: 2px;
  height: 15px;
  background-color: #808080;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.button span:last-child {
  transform: translate(-50%, -50%) rotate(-90deg);
}

.button:hover {
  color: #eee;
}
